<%layout('layouts/boilerplate')%>
    <body>
        <div class="card">
            <div id='map' style='width: 100%; height: 450px;'></div>
        </div>
        <h1>All Campgrounds</h1>
        <ul>
            <% for(let campground of campgrounds){ %>
                <div class="card mb-3 px-3">
                    <div class="row align-items-center">
                        <div class="col-md-4">
                            <style>
                                .img-fluid {
                                    width: 100%;  /* Set the width of the image */
                                    height: 200px;  /* Set the height of the image */
                                    object-fit: cover;  /* Scale and crop the image to fit its container */
                                }
                            </style>
                            <img class="img-fluid" src="<%= campground.images[0].url %>">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">
                                    <%=campground.title%>
                                </h5>
                                <p class="card-text">
                                    <%=campground.description%>
                                </p>
                                <p class="card-text">
                                    <small class="text-muted"><%=campground.location%></small>
                                </p>
                                <a href="/campgrounds/<%=campground._id%>" class="btn btn-primary">View <%=campground.title%></a>
                            </div>
                        </div>
                    </div>
                </div>
                <% } %>
        </ul>
    
<script>
    const mapToken = '<%- process.env.MAPBOX_TOKEN %>';
    const allCampgrounds = {features: '<%- JSON.stringify(campgrounds) %>'};
</script>
<script src="/javascripts/allCampClusterMap.js"></script>